@model TravelExpertsData.Customer

@{
    ViewData["Title"] = "Login";
}


<div class="row justify-content-center text-center mt-5">
    <form class="col-md-6" asp-action="Login" method="post">
        <h3 class="mb-2">Login</h3>
        <div class="form-floating mb-3">
            <input class="form-control form-control-lg" id="floatingName" placeholder="Username"/>
            <label for="floatingName">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control form-control-lg" id="floatingPassword" placeholder="Password" />
            <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid">
            <input type="submit" value="Login" class="btn btn-outline-primary btn-lg"/>
        </div>
    </form>
</div>